@font-face {
  font-family: 'Noto Sans';
  src: url('/static/fonts/NotoSans-VF.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('/static/fonts/NotoSans-Italic-VF.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
}

body {
    background-color: #131415;
    font-family: 'Noto Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    min-height: 100dvh;
}

.app {
  width: 411px;
  margin: 0 auto;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

.top-header {
    background-color: #131415;
    color: #ffffff;
    text-align: center;
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
    height: 80px;
    flex-shrink: 0;
}

.top-header h1 {
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 800;
}

.bottom-nav {
    background-color: #192025;
    color: #ffffff;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    width: 100%;
    flex-shrink: 0;
}

.bottom-nav a {
    color: #ffffff;
    font-size: 1.125rem;
    font-weight: 600;
}

.bottom-nav a:hover {
    color: #EF600A;
}

.main-button {
    width: 144px;
    height: 48px;
    border-radius: 40px;
    background-color: #FFFFFF;
    border: 1px solid #131415;
    color: #000000;
    font-family: "Noto Sans", sans-serif;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.main-button:hover {
    background-color: #C8C9CA;
    color: #000000;
}
