<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Телескопная — Плитка</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/tile.css">
</head>

<body class="app">

    <header class="top-header">
        <h1>Телескопная</h1>
    </header>

    <main class="tile-main">

        <h2>Каталог телескопов</h2>

        <form class="filter-container" method="GET" action="/telescope-tile">
            <div class="filter-title">Широта расположения телескопа</div>

            <div class="range-slider">
                <div class="slider-track"></div>

                <input type="range"
                    min="-90.0" max="90.0"
                    value="{{ .min }}" step="0.01"
                    class="slider-input" name="min">

                <input type="range"
                    min="-90.0" max="90.0"
                    value="{{ .max }}" step="0.01"
                    class="slider-input" name="max">
            </div>

            <div class="filter-values">
                <span id="label-min">От {{ .min }}°</span>
                <span id="label-max">до {{ .max }}°</span>
            </div>

            <button type="submit" class="main-button">Применить</button>
        </form>

        <h2>Результаты поиска:</h2>

        <div class="cards-grid">
            {{ range .telescopes }}
            <div class="telescope-card">
                <img src="{{ .ImageURL }}" alt="{{ .Title }}" class="card-telescope-image">
                <h3>{{ .Title }}</h3>
                <div class="card-likes">
                    <img src="/static/heart_empty.svg">
                    <p>{{ .LikesCount }}</p>
                </div>
                <a href="/telescope-feed?id={{ .ID }}" class="main-button">Подробнее</a>
            </div>
            {{ end }}
        </div>

    </main>

    <footer class="bottom-nav">
        <a href="/telescope-feed">Лента</a>
        <a href="/telescope-draft">Добавление</a>
        <a href="/telescope-tile">Плитка</a>
    </footer>

</body>

</html>
